.about {

  @include breakpoint(mobile) {
    padding: 0 2rem;
  }

  @include breakpoint(smallTablet) {
    padding: 0 3rem;
  }

  @include breakpoint(tablet) {
    padding: 0 5rem;
  }

  @include breakpoint(laptop) {
    padding: 0 5rem;
  }

  @include breakpoint(desktop) {
    padding: 0;
  }

  .about-wrapper {
    display: flex;
    padding: 8rem 0;
    flex-wrap: wrap;

    @include breakpoint(tablet) {
      flex-wrap: nowrap;
    }

    .left-part-about {
      background-image: url('./assets/about.jpg');
      background-position: center center;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;

      @include breakpoint(mobile) {
        flex-basis: 100%;
        padding: 2rem 0;
      }

      @include breakpoint(tablet) {
        flex-basis: 35%;
      }

      .about-title {
        border: 13px solid $borderColor;
        padding: 1rem;

        h1 {
          font-size: 120px;
          font-weight: bolder;
          text-align: center;
        }

        p {
          font-size: 1.3rem;
          font-weight: bold;
        }
      }
    }

    .right-part-about {

      @include breakpoint(mobile) {
        flex-basis: 100%;
        padding: 2rem 0 0 0;
      }

      @include breakpoint(tablet) {
        flex-basis: 65%;
        padding-left: 2rem;
      }

      h2 {
        font-size: 1.3rem;
        text-transform: uppercase;

        @include breakpoint(mobile) {
          text-align: center;
        }

        @include breakpoint(tablet) {
          text-align: left;
        }
      }

      h1 {
        font-size: 40px;
        color: $sectionHeadingColor;
        font-weight: bold;
        padding: 1rem 0;

        @include breakpoint(mobile) {
          text-align: center;
        }

        @include breakpoint(tablet) {
          text-align: left;
        }
      }

      p {
        line-height: 1.5;
        color: $textColor;
        padding-bottom: 2rem;

        @include breakpoint(mobile) {
          text-align: center;
        }

        @include breakpoint(tablet) {
          text-align: left;
        }
      }
    }
  }
}
