.about {

  .about-wrapper {
    display: flex;
    padding: 8rem 0;

    .left-part-about {
      flex-basis: 30%;
      background-image: url('./assets/about.jpg');
      background-position: center center;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;

      .about-title {
        border: 13px solid $borderColor;
        padding: 1rem;

        h1 {
          font-size: 120px;
          font-weight: bolder;
          text-align: center;
        }

        p {
          font-size: 1.3rem;
          font-weight: bold;
        }
      }
    }

    .right-part-about {
      flex-basis: 70%;
      padding-left: 4rem;

      h2 {
        font-size: 1.3rem;
        text-transform: uppercase;
      }

      h1 {
        font-size: 40px;
        color: $sectionHeadingColor;
        font-weight: bold;
        padding: 1rem 0;
      }

      p {
        line-height: 1.5;
        color: $textColor;
      }
    }
  }
}