.about {

  @include breakpoint(mobile) {
    padding: 3rem 2rem 5rem;
  }

  @include breakpoint(smallTablet) {
    padding: 5rem 3rem 8rem;
  }

  @include breakpoint(tablet) {
    padding: 3rem 5rem 8rem;
  }

  @include breakpoint(laptop) {
    padding: 3rem 5rem 8rem;
  }

  @include breakpoint(desktop) {
    padding: 5rem 0 8rem;
  }

  .left-part-about {
    background-image: url('./assets/about.jpg');
    background-position: center center;
    background-size: cover;

    @include breakpoint(mobile) {
      flex-basis: 100%;
      padding: 2rem 0;
    }

    @include breakpoint(tablet) {
      flex-basis: 35%;
    }

    .about-title {
      border: 13px solid $borderColor;
      padding: 1rem;

      h1 {
        font-size: 120px;
        font-weight: bolder;
        text-align: center;
      }

      p {
        font-size: 1.3rem;
        font-weight: bold;
      }
    }
  }

  .right-part-about {

    @include breakpoint(mobile) {
      flex-basis: 100%;
      padding: 2rem 0 0 0;
    }

    @include breakpoint(tablet) {
      flex-basis: 60%;
      padding-left: 5%;
    }

    h2 {
      font-size: 1.3rem;
      text-transform: uppercase;

      @include breakpoint(mobile) {
        text-align: center;
      }

      @include breakpoint(tablet) {
        text-align: left;
      }
    }

    h1 {
      font-size: 40px;
      color: $sectionHeadingColor;
      font-weight: bold;
      padding: 1rem 0;

      @include breakpoint(mobile) {
        text-align: center;
      }

      @include breakpoint(tablet) {
        text-align: left;
      }
    }

    p {
      line-height: 1.5;
      color: $textColor;
      padding-bottom: 2rem;

      @include breakpoint(mobile) {
        text-align: center;
      }

      @include breakpoint(tablet) {
        text-align: left;
      }
    }
  }
}
