.hero {
  height: 100vh;
  background-position: center center;
  background-size: cover;
  position: relative;

  @include breakpoint(mobile) {
    padding: 0 2rem;
  }

  @include breakpoint(smallTablet) {
    padding: 0 3rem;
  }

  @include breakpoint(tablet) {
    padding: 0 5rem;
  }

  @include breakpoint(laptop) {
    padding: 0 5rem;
  }

  @include breakpoint(desktop) {
    padding: 0;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
  }

  .hero-wrapper {
    height: 100vh;

    .hero-content {
      z-index: 100;

      p {
        text-align: center;
        color: $textColor;
        line-height: 1.4;
      }
    }
  }
}
