.hero {
  height: 100vh;
  background-position: center center;
  background-size: cover;
  position: relative;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
  }

  .hero-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20rem 0 0;

    .hero-content {
      display: flex;
      flex-direction: column;
      z-index: 100;

      h3 {
        color: $headingColor;
        text-align: center;
        text-shadow: 1px 1px 6px #000000;
        font-size: 1.5rem;
      }

      h1 {
        color: $headingColor;
        text-align: center;
        font-weight: bold;
        line-height: 1.4;
        margin-top: 2rem;
        text-shadow: 1px 1px 10px #000000;

        @include breakpoint(desktop) {
          font-size: 3vw;
        }
      }

      p {
        text-align: center;
        color: $textColor;
        line-height: 1.4;
      }
    }
  }
}
