.projects {

  @include breakpoint(mobile) {
    padding: 0 2rem;
  }

  @include breakpoint(smallTablet) {
    padding: 0 3rem;
  }

  @include breakpoint(tablet) {
    padding: 0 5rem;
  }

  @include breakpoint(laptop) {
    padding: 0 5rem;
  }

  @include breakpoint(desktop) {
    padding: 0;
  }

  .projects-title {

    h2 {

      @include breakpoint(mobile) {
        text-align: center;
      }

      @include breakpoint(tablet) {
        text-align: left;
      }
    }

    h1 {

      @include breakpoint(mobile) {
        text-align: center;
      }

      @include breakpoint(tablet) {
        text-align: left;
      }
    }
  }

  .project {
    flex-basis: 100%;
    display: flex;

    @include breakpoint(mobile) {
      padding: 1rem 0;
      flex-wrap: wrap;
    }

    @include breakpoint(smallTablet) {
      padding: 3rem 0 5rem;
      flex-wrap: nowrap;
    }

    .left-part-img {

      @include breakpoint(mobile) {
        flex-basis: 100%;
      }

      @include breakpoint(smallTablet) {
        flex-basis: 55%;
      }

      img {
        height: 420px;
        width: 100%;
      }
    }

    .right-part-content {

      @include breakpoint(mobile) {
        flex-basis: 100%;
        padding: 3rem 0;
      }

      @include breakpoint(smallTablet) {
        flex-basis: 45%;
        padding: 5rem 0 5rem 4rem;
      }

      h3 {
        position: relative;

        &::before {
          content: '';
          background-color: $hoverTextColor;
          height: 1px;
          width: 80px;
          top: 50%;
          left: -90px;
          position: absolute;
        }
      }

      p {
        line-height: 1.5;
        color: $textColor;
      }
    }
  }
}



