.projects {

  @include breakpoint(mobile) {
    padding: 0 2rem;
  }

  @include breakpoint(smallTablet) {
    padding: 0 3rem;
  }

  @include breakpoint(tablet) {
    padding: 0 5rem;
  }

  @include breakpoint(laptop) {
    padding: 0;
  }

  .projects-wrapper {
    display: flex;
    flex-wrap: wrap;

    .projects-title {
      flex-basis: 100%;

      h2 {
        font-size: 1.3rem;
        text-transform: uppercase;

        @include breakpoint(mobile) {
          text-align: center;
        }

        @include breakpoint(tablet) {
          text-align: left;
        }
      }

      h1 {
        font-size: 40px;
        color: $sectionHeadingColor;
        font-weight: bold;
        padding: 1rem 0;

        @include breakpoint(mobile) {
          text-align: center;
        }

        @include breakpoint(tablet) {
          text-align: left;
        }
      }
    }

    .project {
      flex-basis: 100%;
      display: flex;

      @include breakpoint(mobile) {
        padding: 1rem 0;
        flex-wrap: wrap;
      }

      @include breakpoint(smallTablet) {
        padding: 3rem 0 5rem;
        flex-wrap: nowrap;
      }

      .left-part-img {

        @include breakpoint(mobile) {
          flex-basis: 100%;
        }

        @include breakpoint(smallTablet) {
          flex-basis: 55%;
        }

        img {
          height: 420px;
          width: 100%;
        }
      }

      .right-part-content {

        @include breakpoint(mobile) {
          flex-basis: 100%;
          padding: 3rem 0;
        }

        @include breakpoint(smallTablet) {
          flex-basis: 45%;
          padding: 5rem 0 5rem 4rem;
        }

        h3 {
          color: $sectionHeadingColor;
          font-size: .95rem;
          margin-bottom: 1rem;
          position: relative;

          &::before {
            content: '';
            background-color: $hoverTextColor;
            height: 1px;
            width: 80px;
            top: 50%;
            left: -90px;
            position: absolute;
          }
        }

        .right-title {

          h1 {
            color: $sectionHeadingColor;
            font-size: 40px;
          }
        }

        p {
          line-height: 1.5;
          color: $textColor;
        }
      }

      .left-part-content {

        @include breakpoint(mobile) {
          flex-basis: 100%;
          padding: 3rem 0;
        }

        @include breakpoint(smallTablet) {
          flex: 45%;
          padding: 5rem 4rem 5rem 0;
        }

        h3 {
          text-align: right;
          color: $sectionHeadingColor;
          font-size: .95rem;
          margin-bottom: 1rem;
          position: relative;

          &::before {
            content: '';
            background-color: $hoverTextColor;
            height: 1px;
            top: 50%;
            position: absolute;

            @include breakpoint(mobile) {
              width: 20px;
              right: -35px;
            }

            @include breakpoint(smallTablet) {
              width: 80px;
              right: -90px;
            }
          }
        }

        .left-title {

          h1 {
            color: $sectionHeadingColor;
             font-size: 40px;
             text-align: right;
          }
        }

        p {
          line-height: 1.5;
          color: $textColor;
          text-align: right;
        }
      }

      .right-part-img {
        flex-basis: 55%;

        @include breakpoint(mobile) {
          flex-basis: 100%;
        }

        @include breakpoint(smallTablet) {
          flex: 55%;
        }

        img {
          height: 420px;
          width: 100%;
        }
      }
    }
  }
}

.only-lg {

  @include breakpoint(mobile) {
    display: none;
  }

  @include breakpoint(smallTablet) {
    display: block;
  }
}

.only-xs {

  @include breakpoint(mobile) {
    display: block;
  }

  @include breakpoint(smallTablet) {
    display: none;
  }
}

