// home page
@import './home/home';

// blog page
@import './blog/heroblog';
@import './blog/blogitems';
@import './blog/components/blog-btn';

//single blog
@import './single-blog/single-hero';
@import './single-blog/single-content';


//about page
@import './about/about-hero';
@import './about/about-numbers';
@import './about/about-us';

//contact page
@import './contact/contact-hero';
@import './contact/contact-form';


//projects
@import './projects/hero-projects';

