// home page
@import './home/home';

// blog page
@import './blog/heroblog';


//about page
@import './about/about-hero';
@import './about/about-numbers';
@import './about/about-us';

//contact page
@import './contact/contact-hero';
