.site-footer {
  background-image: linear-gradient(rgba(0,0,0,.7)), url('./assets/footer.jpg');
  background-position: center center;
  background-size: cover;

  @include breakpoint(mobile) {
    padding: 0 2rem;
  }

  @include breakpoint(smallTablet) {
    padding: 0 3rem;
  }

  @include breakpoint(tablet) {
    padding: 0 5rem;
  }

  @include breakpoint(laptop) {
    padding: 0 5rem;
  }

  @include breakpoint(desktop) {
    padding: 0;
  }

  .top-content {
    padding: 5rem 0 3rem;

    @include breakpoint(mobile) {
      flex-wrap: wrap;
    }

    @include breakpoint(smallTablet) {
      flex-wrap: nowrap;
    }

    .left-part-footer {
      display: flex;
      flex-direction: column;

      @include breakpoint(mobile) {
        flex-basis: 100%;
      }

      @include breakpoint(smallTablet) {
        flex-basis: 50%;
      }

      .site-branding {

        h1 {
          color: $headingColor;

          @include breakpoint(mobile) {
            text-align: center;
          }

          @include breakpoint(smallTablet) {
            text-align: left;
          }
        }
      }

      .footer-title {

        p {
          color: $textColor;
          line-height: 1.5;
          font-size: .9rem;

          @include breakpoint(mobile) {
            text-align: center;
          }

          @include breakpoint(smallTablet) {
            text-align: left;
          }
        }
      }
    }

    .right-part-footer {
      display: flex;
      flex-direction: column;
      padding-top: 1rem;

      @include breakpoint(mobile) {
        flex-basis: 100%;
      }

      @include breakpoint(smallTablet) {
        flex-basis: 50%;
      }

      h3 {
        font-size: 1.2rem;
        color: $headingColor;

        @include breakpoint(mobile) {
          text-align: center;
        }

        @include breakpoint(smallTablet) {
          text-align: right;
        }
      }

      p {
        color: $textColor;
        font-size: .85rem;

        @include breakpoint(mobile) {
          text-align: center;
        }

        @include breakpoint(smallTablet) {
          text-align: right;
        }
      }
    }
  }

  .bottom-content {
    display: flex;
    padding: 2rem 0 8rem;
    justify-content: space-between;
    align-items: baseline;

    @include breakpoint(mobile) {
      flex-direction: column;

    }

    @include breakpoint(smallTablet) {
      flex-direction: row;
    }

    .copy-right {

      p {
        font-size: .85rem !important;
        color: $textColor;

        @include breakpoint(mobile) {
          text-align: center;
        }

        @include breakpoint(smallTablet) {
          text-align: left;
        }
      }
    }

    .social-link {
      display: flex;

      @include breakpoint(mobile) {
        justify-content: space-around;
      }

      a {
        padding-right: 12px;

        i {
          color: white;
          font-size: 1.2rem;
        }
      }
    }
  }
}
