.site-footer {
  background-image: linear-gradient(rgba(0,0,0,.7)), url('./assets/footer.jpg');
  background-position: center center;
  background-size: cover;

  @include breakpoint(mobile) {
    padding: 3rem 2rem 5rem;
  }

  @include breakpoint(smallTablet) {
    padding: 5rem 3rem 8rem;
  }

  @include breakpoint(tablet) {
    padding: 3rem 5rem 8rem;
  }

  @include breakpoint(laptop) {
    padding: 3rem 5rem 8rem;
  }

  @include breakpoint(desktop) {
    padding: 5rem 0 5rem;
  }

  .left-part-footer {
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
      flex-basis: 100%;
    }

    @include breakpoint(smallTablet) {
      flex-basis: 50%;
    }

    .site-branding {

      h1 {
        color: $headingColor;

        @include breakpoint(mobile) {
          text-align: center;
        }

        @include breakpoint(smallTablet) {
          text-align: left;
        }
      }
    }

    .footer-title {

      p {
        color: $textColor;
        line-height: 1.5;
        font-size: .9rem;

        @include breakpoint(mobile) {
          text-align: center;
        }

        @include breakpoint(smallTablet) {
          text-align: left;
        }
      }
    }
  }

  .right-part-footer {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;

    @include breakpoint(mobile) {
      flex-basis: 100%;
    }

    @include breakpoint(smallTablet) {
      flex-basis: 50%;
    }

    h3 {
      font-size: 1.2rem;
      color: $headingColor;

      @include breakpoint(mobile) {
        text-align: center;
      }

      @include breakpoint(smallTablet) {
        text-align: right;
      }
    }

    p {
      color: $textColor;
      font-size: .85rem;

      @include breakpoint(mobile) {
        text-align: center;
      }

      @include breakpoint(smallTablet) {
        text-align: right;
      }
    }
  }
}

.bottom-content {
  display: flex;
  padding: 2rem 0 3rem;


  @include breakpoint(mobile) {
    flex-direction: column;
    align-items: center;
  }

  @include breakpoint(smallTablet) {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  .copy-right {

    p {
      font-size: .85rem;
      color: $textColor;
    }
  }

  .social-link {
    display: flex;

    a {
      padding-right: 12px;

      i {
        color: white;
        font-size: 1.2rem;
      }
    }
  }
}
