.site-header {
  height: 5vh;
  width: 100%;
  z-index: 200;
  position: fixed;

  .header-wrapper {
    display: flex;
    justify-content: space-between;

    @include breakpoint(mobile) {
      padding: 0 2rem;
    }

    @include breakpoint(smallTablet) {
      padding: 0 3rem;
    }

    @include breakpoint(tablet) {
      padding: 0 5rem;
    }

    @include breakpoint(laptop) {
      padding: 0;
    }


    .site-branding {

      h1 {
        text-transform: uppercase;
        line-height: 5vh;
      }
    }

    .main-navigation {

      .menu-toggle {
        display: none;
      }

      .nav-menu {
        display: flex;
        list-style: none;
        line-height: 5vh;

        .menu-item {
          padding-right: 20px;
          position: relative;

          &:hover::after {
            width: 80%;
            transition: .3s ease-in-out;
          }

          &::after {
            content: '';
            width: 0;
            height: 2px;
            background-color: white;
            position: absolute;
            bottom: 5px;
            left: 0;
          }

          a {
            text-decoration: none;
            text-transform: uppercase;
            font-weight: normal;
          }
        }
      }
    }
  }
}
