.site-header {
  height: 10vh;
  width: 100%;
  z-index: 200;
  position: fixed;

  .header-wrapper {
    display: flex;
    justify-content: space-between;

    .site-branding {
      line-height: 10vh;

      h1 {
        text-transform: uppercase;
      }
    }

    .main-navigation {

      .menu-toggle {
        display: none;
      }

      .nav-menu {
        display: flex;
        list-style: none;
        line-height: 10vh;

        .page_item {
          padding-right: 20px;

          a {
            text-decoration: none;
            text-transform: uppercase;
            font-weight: normal;
          }
        }
      }
    }
  }
}
