.site-header {
  width: 100%;
  z-index: 200;
  position: fixed;
  transition: color 1s ease-in-out;

  .header-wrapper {
    display: flex;
    justify-content: space-between;

    @include breakpoint(mobile) {
      padding: 0 2rem;
    }

    @include breakpoint(smallTablet) {
      padding: 0 3rem;
    }

    @include breakpoint(tablet) {
      padding: 0 5rem;
    }

    @include breakpoint(laptop) {
      padding: 0 5rem;
    }

    @include breakpoint(desktop) {
      padding: 0;
    }

    .site-branding {

      h1 {
        text-transform: uppercase;
        padding: .8rem 0;
      }
    }

    .menu-toggle {
      width: 40px;
      background: transparent;
      border: none;
      z-index: 500;

      @include breakpoint(mobile) {
        display: block;
      }

      @include breakpoint(tablet) {
        display: none;
      }

      span {
        width: 100%;
        background-color: $borderColor;
        height: 2px;
        display: inline-block;

        &:nth-child(2) {
          width: 70%;
        }
      }
    }

    .main-navigation {
      transition: 1s ease-in;

      @include breakpoint(mobile) {
        display: none;
        position: absolute;
        top: -20px;
        left: 0;
      }

      @include breakpoint(tablet) {
        display: block;
        position: relative;
        top: 0;
      }

      .menu {
        display: flex;
        list-style: none;

        @include breakpoint(mobile) {
          flex-direction: column;
          background: black;
          width: 100vw;
          height: 110vh;
          align-items: center;
          justify-content: center;
          margin-left: -40px;
        }

        @include breakpoint(tablet) {
          background: transparent;
          margin-left: 0;
          flex-direction: row;
          align-items: flex-start;
          justify-content: flex-end;
          height: 100%;
          width: 100%;
        }

        .menu-item {
          position: relative;
          padding: .8rem 1rem .8rem 0;

          &:hover::after {
            width: 80%;
            transition: .3s ease-in-out;
          }

          &::after {
            content: '';
            width: 0;
            height: 2px;
            background-color: white;
            position: absolute;
            bottom: 5px;
            left: 0;
          }

          a {
            text-decoration: none;
            text-transform: uppercase;
            font-weight: normal;
            color: $headingColor;
          }
        }
      }
    }
  }
}


