.project-hero {
  background-image: url('./assets/contact.jpg');
  background-position: center center !important;
  background-size: cover !important;

  .project-hero-wrapper {

    .project-hero-title {
      padding: 15rem 0;
    }
  }
}
