.contact-hero {
  background-image: linear-gradient(rgba(0,0,0,.6)),url('./assets/contact.jpg');
  background-size: cover;
  background-position: center center;

  .contact-hero-wrapper {
    padding: 20rem 0;
  }
}
