.contact-hero {
  background-image: linear-gradient(rgba(0,0,0,.6)),url('./assets/contact.jpg');
  background-size: cover;
  background-position: center center;

  .contact-hero-wrapper {
    padding: 20rem 0;

    .contact-hero-title {

      h3 {
        text-align: center;
        color: $headingColor;
        text-align: center;
        font-weight: normal;
        text-transform: uppercase;
        padding-bottom: 1.5rem;

        @include breakpoint(mobile) {
          font-size: 4vw;
        }

        @include breakpoint(tablet) {
          font-size: 2.5vw;
        }

        @include breakpoint(laptop) {
          font-size: 2vw;
        }

        @include breakpoint(desktop) {
          font-size: 1.2vw;
        }
      }

      h1 {
        text-align: center;
        color: $headingColor;
        font-weight: bold;

        @include breakpoint(mobile) {
          font-size: 7vw;
        }

        @include breakpoint(tablet) {
          font-size: 4.5vw;
        }

        @include breakpoint(laptop) {
          font-size: 3.5vw;
        }

        @include breakpoint(desktop) {
          font-size: 2.5vw;
        }
      }
    }
  }
}
