$bodyFontFamily: 'Orkney', sans-serif;


//global
$headingColor: #fff;
$borderColor: #fff;

//layouts
$linkColor: #969696;
$textColor: #7e7d7d;

$hoverTextColor: #000;
$hoverBg: #fff;

// sections
$sectionHeadingColor: #000;
$numberColor: #575757;

// service
$serviceBorder: #000;
$serviceHoverBg: #000;
$serviceTextColor: #fff;
