$bodyFontFamily: 'Orkney', sans-serif;


//global
$headingColor: #fff;
$borderColor: #fff;

//layouts
$linkColor: #fff;
$textColor: #7e7d7d;

$hoverTextColor: #000;
$hoverBg: #fff;

// sections
$sectionHeadingColor: #000;