.blog-content {
  padding: 3rem 0 8rem;

  h1 {
    font-size: 40px;
    padding: 2rem 0 1rem;
    color: $sectionHeadingColor;
  }
  .blog-content-wrapper {
    padding-top: 3rem;

    .blog-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      article {
        flex-basis: 32%;

        .featured-image {
          width: 100%;
          overflow: hidden;

          a {

            img {
              width: 100%;
              height: 350px;
              transition: .5s ease;

              &:hover {
                transform: scale(1.1) rotate(3deg);

              }
            }
          }
        }

        .entry-title {
          padding: .5rem 0 .5rem;

          a {
            color: $sectionHeadingColor;
            font-size: 1.7rem;
            padding: .5rem 0 0;
          }
        }

        .entry-summary {
          font-size: 1rem;
          line-height: 1.5;
          color: $sectionHeadingColor;
          padding: 0 0 .5rem;
        }
      }
    }
  }
}
