.blog-hero {
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./assets/blog.jpg');

  .blog-hero-wrapper {

    .blog-title {
      padding: 15rem 0;

      h3 {
        color: $headingColor;
        text-align: center;

        @include breakpoint(mobile) {
          font-size: 4vw;
        }

        @include breakpoint(tablet) {
          font-size: 2.5vw;
        }

        @include breakpoint(laptop) {
          font-size: 2vw;
        }

        @include breakpoint(desktop) {
          font-size: 1.2vw;
        }
      }

      h1 {
        color: $headingColor;
        text-align: center;

        @include breakpoint(mobile) {
          font-size: 7vw;
        }

        @include breakpoint(tablet) {
          font-size: 4.5vw;
        }

        @include breakpoint(laptop) {
          font-size: 3.5vw;
        }

        @include breakpoint(desktop) {
          font-size: 2.5vw;
        }
      }
    }
  }
}
