.work-process {

  h1 {
    font-size: 3rem;
    color: $sectionHeadingColor;
    padding: 3rem 0;
    text-align: center;
  }

  .process-item {

    img {
      width: 60%;
      margin: 0 auto;
      height: 100%;
      display: block;
    }

    h3 {
      text-align: center;
      color: $sectionHeadingColor;
      font-weight: bold;
      padding-top: 1rem;
    }

    h1 {
      text-align: center;
      color: $sectionHeadingColor;
      line-height: 1;
      padding: 1rem 0;
    }

    p {
      text-align: center;
      line-height: 1.5;
      color: $textColor;
      font-size: 1rem;
    }
  }
}
