.about-numbers {

  @include breakpoint(mobile) {
    padding: 0 2rem;
  }

  @include breakpoint(smallTablet) {
    padding: 0 3rem;
  }

  @include breakpoint(tablet) {
    padding: 0 5rem;
  }

  @include breakpoint(laptop) {
    padding: 0 5rem;
  }

  @include breakpoint(desktop) {
    padding: 0;
  }

  .numbers-wrapper {
    display: flex;
    padding: 8rem 0;

    @include breakpoint(mobile) {
      flex-wrap: wrap;
    }

    @include breakpoint(tablet) {
      flex-wrap: nowrap;
    }

    .left-part-numbers {
      background-color: $hoverBg;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      display: flex;
      flex-wrap: wrap;
      background-image: url('./assets/about-number.jpg');
      padding: 1rem;

      @include breakpoint(mobile) {
        flex-basis: 100%;
      }

      @include breakpoint(tablet) {
        flex-basis: 40%;
      }

      .number-titles {
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $hoverBg;
        padding: 1.5rem 0;

        h1 {
          font-size: 70px;
          font-weight: bold;
          color: $numberColor;
        }

        p {
          font-weight: normal;
          text-transform: uppercase;

          @include breakpoint(mobile) {
            font-size: .8rem;
          }

          @include breakpoint(smallTablet) {
            font-size: 1rem;
          }
        }
      }
    }

    .right-part-numbers {

      @include breakpoint(mobile) {
        flex-basis: 100%;
        padding: 2rem 0 0;
      }

      @include breakpoint(tablet) {
        flex-basis: 60%;
        padding-left: 2rem;
      }

      h2 {
        color: $sectionHeadingColor;
        font-size: 1.3rem;
      }

      h1 {
        color: $sectionHeadingColor;
        font-size: 40px;
        padding: 1rem 0;
      }

      p {
        line-height: 1.5;
        color: $textColor;

        @include breakpoint(mobile) {
          padding-bottom: 1rem;
        }

        @include breakpoint(tablet) {
          padding-bottom: 2rem;
        }
      }
    }
  }
}
