.work-process {

  @include breakpoint(mobile) {
    padding: 0 2rem;
  }

  @include breakpoint(smallTablet) {
    padding: 0 3rem;
  }

  @include breakpoint(tablet) {
    padding: 0 5rem;
  }

  @include breakpoint(laptop) {
    padding: 0 5rem;
  }

  @include breakpoint(laptop) {
    padding: 0 5rem;
  }

  @include breakpoint(desktop) {
    padding: 0;
  }


  h1 {
    font-size: 3rem;
    color: $sectionHeadingColor;
    padding: 3rem 0;
    text-align: center;
  }

  .process-item {
    padding: 3rem 5rem;

    img {
      margin: 0 auto;
      display: block;

      @include breakpoint(mobile) {
        width: 100%;
      }

      @include breakpoint(tablet) {
        width: 70%;
      }
    }

    h3 {
      text-align: center;
      color: $sectionHeadingColor;
      font-weight: bold;
      padding-top: 1rem;
    }

    h1 {
      text-align: center;
      color: $sectionHeadingColor;
      line-height: 1;
      padding: 1rem 0;
    }

    p {
      text-align: center;
      line-height: 1.5;
      color: $textColor;
      font-size: 1rem;
    }
  }
}
