body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  max-width: 1240px;
  margin: 0 auto;
}

a {
  font-family: $bodyFontFamily;
  color: $linkColor;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $bodyFontFamily;
  font-weight: normal;
  margin: 0;
}

p {
  font-family: $bodyFontFamily;
  font-weight: normal;
}

a {
  text-decoration: none !important;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.main-heading {
  color: $headingColor;
  text-align: center;
  font-weight: bold;
  line-height: 1.4;
  margin-top: 2rem;
  text-shadow: 1px 1px 10px #000000;

  @include breakpoint(mobile) {
    font-size: 7vw;
  }

  @include breakpoint(tablet) {
    font-size: 4.5vw;
  }

  @include breakpoint(laptop) {
    font-size: 3.5vw;
  }

  @include breakpoint(desktop) {
    font-size: 2.5vw;
  }
}

.small-heading {
  color: $headingColor;
  text-align: center;
  text-shadow: 1px 1px 6px #000000;
  font-size: 1.5rem;

  @include breakpoint(mobile) {
    font-size: 4vw;
  }

  @include breakpoint(tablet) {
    font-size: 2.5vw;
  }

  @include breakpoint(laptop) {
    font-size: 2vw;
  }

  @include breakpoint(desktop) {
    font-size: 1.2vw;
  }
}

.section-heading {
  font-size: 3rem;
  color: $sectionHeadingColor;
  font-weight: bold;
  padding: 1rem 0;
}

.section-small-heading {
  color: $sectionHeadingColor;
  font-size: 1.3rem;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 600;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;

  .preloader-content {
    background-color: black;
    position: relative;
    animation: reveal .7s ease-in-out forwards;
    transform-origin: left;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      height: 100%;
      width: 101%;
      background: white;
      z-index: 1;
      animation: reveal .7s reverse forwards;
      transform-origin: right;
      animation-delay: 1s;

      @keyframes reveal {
        0% {
          transform: scaleX(0)
        }

        100% {
          transform: scaleX(1);
        }
      }
    }

    h1 {
      color: white;
      padding: 3rem 8rem;
    }
  }
}

.loader-finish {
  opacity: 0;
  animation: .5s ease-in-out;
  pointer-events: none;
}

