.single-blog-content {

  @include breakpoint(mobile) {
    padding: 3rem 2rem 5rem;
  }

  @include breakpoint(smallTablet) {
    padding: 5rem 3rem 8rem;
  }

  @include breakpoint(tablet) {
    padding: 3rem 5rem 8rem;
  }

  @include breakpoint(laptop) {
    padding: 3rem 5rem 8rem;
  }

  @include breakpoint(desktop) {
    padding: 5rem 0 8rem;
  }

  .single-blog-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    p {
      flex-basis: 95%;
      line-height: 1.5;
      color: $textColor;
      font-size: 1rem;
    }

    .wp-block-image {
      display: flex !important;
      margin: 2rem 0 0;
      padding: 0;

      @include breakpoint(mobile) {
        flex-basis: 100%;
      }

      @include breakpoint(smallTablet) {
        flex-basis: 45%;
      }

      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}
