.single-blog-hero {
  background-position: center center !important;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  .single-blog-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;

    .single-blog-title {
      padding-top: 25rem;

      h1 {
        font-size: 70px;
        color: $headingColor;
        text-align: center;
        display: inline-block;
      }
    }
  }
}
